{{page-title "Create"}}
<div class="slide-out-bg"></div>
<div class="slide-out">
  <div class="slide-out-card">
    <LinkTo @route="author" class="btn-back">
      <span class="sr-only">Back</span>
    </LinkTo>

    <div class="slide-out-heading">
      <div class="title">
        <h3>New Author</h3>
      </div>
    </div>

    <div class="slide-out-content">
      <form {{on "submit" this.saveAuthor}}>
        <div class="field">
          <label for="first-name">First Name:</label>
          <Input
            id="first-name"
            placeholder="First Name"
            data-test-new-author-first-name
            @type="text"
            @value={{@model.first}}
          />
        </div>

        <div class="field">
          <label for="last-name">Last Name:</label>
          <Input
            id="last-name"
            placeholder="Last Name"
            data-test-new-author-last-name
            @type="text"
            @value={{@model.last}}
          />
        </div>

        <div class="form-footer">
          <button
            type="submit"
            class="btn-submit"
            data-test-save-author-button
          >
            save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>