<form {{on "submit" this.submitChanges}}>
  <div class="field">
    <label for="first-name">First Name:</label>
    <Input
      id="first-name"
      placeholder="First Name"
      @type="text"
      @value={{this.first}}
    />
  </div>

  <div class="field">
    <label for="last-name">Last Name:</label>
    <Input
      id="last-name"
      placeholder="Last Name"
      @type="text"
      @value={{this.last}}
    />
  </div>

  <div class="form-footer">
    <button type="submit" class="btn-submit">save</button>
  </div>
</form>
